<table class="table table-borderless pathTable">
  <tr>
    <th class="colHeader"></th>
    <th class="colHeader">SSC</th>
    <th class="colHeader">Confulence</th>
    <th class="colHeade">Disputes$Cliams</th>
    <!-- <th class="colHeade">Limitations</th>
    <th class="colHeade">CIP</th> -->

  </tr>
  <tr>
      <th class="rowHeader">Specialist</th>
      <td #b1>
        <app-box></app-box>
      </td>
      <td #b2>
        <app-box></app-box>
      </td>
      <td>
        <app-box></app-box>
      </td>
      <!-- <td>
        <app-box></app-box>
      </td>
      <td>
        <app-box></app-box>
      </td> -->
    </tr>
  <tr>
    <th class="rowHeader">Pro</th>
    <td>
      <app-box></app-box>
    </td>
    <td>
      <app-box></app-box>
    </td>
    <td>
      <app-box></app-box>
    </td>
    <!-- <td>
      <app-box></app-box>
    </td>
    <td>
      <app-box></app-box>
    </td> -->
  </tr>
  <tr>
      <th class="rowHeader">Champion</th>
      <td #b7>
        <app-box></app-box>
      </td>
      <td>
        <app-box></app-box>
      </td>
      <td>
          <app-box></app-box>
      </td>
      <!-- <td>
        <app-box></app-box>
      </td>
      <td>
          <app-box></app-box>
      </td> -->
    </tr>
    <tr>
        <th class="rowHeader">Advocate</th>
        <td>
          <app-box></app-box>
        </td>
        <td>
          <app-box></app-box>
        </td>
        <td>
            <app-box></app-box>
        </td>
        <!-- <td>
          <app-box></app-box>
        </td>
        <td>
            <app-box></app-box>
          </td> -->
      </tr>
</table>

<svg  width="761" height="900">
  <g>
    <svg:line x1="173" y1="128" x2="354" y2="128" style="stroke:rgb(4, 70, 4);stroke-width:0.6" marker-end="url(#arrow)" />
    <svg:line x1="173" y1="128" x2="354" y2="494" style="stroke:rgb(4, 70, 4);stroke-width:0.6" marker-end="url(#arrow)" />

  </g>
  <defs>
    <svg:marker id="arrow" refX="6" refY="7" 
        markerWidth="60" markerHeight="60"
        orient="auto-start-reverse">
      <svg:path d="M 0 0 L 18 8 L 0 15 z" />
    </svg:marker>
  </defs>

</svg>
