<svg width="100%" height="500px" >
  <title>Career Path</title>
  
  <g id='rowGroup' transform='translate(0, 0)' role="table">
    <rect x='600' y='290' width="150" height="100" />
    <rect x='400' y='290' width="150" height="100" />
    <rect x='200' y='290' width="150" height="100" />

    <rect x='600' y='180' width="150" height="100" />
    <rect x='400' y='180' width="150" height="100" />
    <rect x='200' y='180' width="150" height="100" />

    <rect x='600' y='70' width="150" height="100" />
    <rect x='400' y='70' width="150" height="100" />
    <rect x='200' y='70' width="150" height="100" /> 
    
    <text x='30' y='30' text-anchor='middle' role="row">
      <tspan role="columnheader" x='200'>department0</tspan>
      <tspan  role="columnheader" x='400'>department1</tspan>
      <tspan role="columnheader" x='600'>department2</tspan>
    </text>

    <text x='10' y='70' text-anchor='middle' role="row">
      <tspan role="rowheader" x='50'>row1</tspan>
      <!-- <tspan  role="cell" x='200'>value1</tspan>
      <tspan role="cell" x='400'>value2</tspan>
      <tspan role="cell" x='600'>value3</tspan> -->
    </text>

    <text x='10' y='180' text-anchor='middle' role="row">
      <tspan role="rowheader" x='50'>row2</tspan>
      <!-- <tspan  role="cell" x='200'>value1</tspan>
      <tspan role="cell" x='400'>value2</tspan>
      <tspan role="cell" x='600'>value3</tspan> -->
    </text>

    <text x='10' y='290' text-anchor='middle' role="row">
      <tspan role="rowheader" x='50'>row3</tspan>
      <!-- <tspan  role="cell" x='200'>value1</tspan>
      <tspan role="cell" x='400'>value2</tspan> -->
    </text>
  
  </g>
  </svg>